@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
  margin: 0;
  padding: 0% 10%;
  font-family: Outfit, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: whitesmoke; */
}

:root {
  --containerPadding: 0 6%
}

@media (max-width: 768px) {
  body {
    padding: 0%;
  }

  :root {
    --containerPadding: 0 4%
  }
}